<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848941921163-qu0uh7mkrsf1fqkp72u1kldjtiivdmiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848941921163-qu0uh7mkrsf1fqkp72u1kldjtiivdmiq</string>
	<key>API_KEY</key>
	<string>AIzaSyD-3D3JOcOBMxw5Adrbq-K1Uc3jEYXgIkE</string>
	<key>GCM_SENDER_ID</key>
	<string>848941921163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peoplev.FireRTC</string>
	<key>PROJECT_ID</key>
	<string>examplewebrtc-78462</string>
	<key>STORAGE_BUCKET</key>
	<string>examplewebrtc-78462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848941921163:ios:30a9c5c2118796b504f58e</string>
</dict>
</plist>